{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block content %}

<form action={{ url_for('entries') }} method='GET'>
<!--form name=entries_per_page" action= "/page/<int:page>" method='GET'-->
    Display
    <select name="entries_per_page" onchange="this.form.submit()">
    {% for count in [10, 20, 30, 40, 50, 100] %}
      {% if count == paginate_by %}
      <option value={{count}} selected > {{count}} </option>
      {% else %}
      <option value="{{ count }}">{{ count }}</option>
      {% endif%}
    {% endfor %}
    </select>
    entries
</form>

{% for entry in entries %}
{{ macros.render_entry_as_href(entry) }}
{% endfor %}

<ul class="pager">
    {% if has_next %}
    <li class="previous" >
    <a href="{{ url_for('entries', page=page + 1) }}">&larr; Older</a>
    </li>
    {% endif %}
    {% if has_prev %}
    <li class="next">
    <a href="{{ url_for('entries', page=page - 1) }}">&rarr; Newer</a>
    </li>
    {% endif %}
</ul>

{% endblock %}