{% macro render_entry_as_href(entry) %}
<div class="row">
    <div class="col-md-2 text-right metadata">
        <ul class="list-unstyled">
            <li>
                {{ entry.datetime | dateformat("%d/%m/%y") }}
            </li>
        </ul>
    </div>
    <div class="col-md-10">
        <h1>
            <a href="/entry/{{entry.id - 1}}">{{ entry.title }}</a>
        </h1>
        {{ entry.content | markdown }}
        <p>created by: {{ entry.author.name }}</p>
        <a href="/entry/{{entry.id -1}}/edit">edit entry</a>
        |
        <a href="/entry/{{entry.id - 1}}/delete">delete entry</a>
    </div>
</div>
{% endmacro %}

{% macro render_entry(entry) %}
<div class="row">
    <div class="col-md-2 text-right metadata">
        <ul class="list-unstyled">
            <li>
                {{ entry.datetime | dateformat("%d/%m/%y") }}
            </li>
        </ul>
    </div>
    <div class="col-md-10">
        <h1>
            {{ entry.title }}
        </h1>
        {{ entry.content | markdown }}
        <p>created by: {{ entry.author.name }}</p>
        <a href="/entry/{{entry.id -1}}/edit">edit entry</a>
        |
        <a href="/entry/{{entry.id - 1}}/delete">delete entry</a>
    </div>
</div>
{% endmacro %}

{% macro placeholder() %}

{% endmacro %}